<span class="form-group" ng-form="{{field}}" ng-class="{ 'has-error': {{field}}.$dirty && {{field}}.$invalid }">
	<span ng-switch="datatype">
		<textarea required ng-model="record[field]" type="{{datatype}}" class="form-control" ng-switch-when="textarea" rows="3"/>
		<input required ng-model="record[field]" type="{{datatype}}" class="form-control" ng-switch-default/>
	</span>

	<div ng-show="{{field}}.$dirty && {{field}}.$invalid" ng-messages="{{field}}.$error">
		<p class="control-label pull-left" ng-message="required">{{field}} is required</p>
		<p class="control-label pull-left" ng-repeat="(k, v) in types" ng-message='{{k}}'>{{field}} {{v[1]}}</p>
	</div>
</span>