<h1>JSON Supplier</h1>
<form novalidate class="form-horizontal" name="jsonForm">
	<div>
		<input type="radio" name="action_type" ng-model="supplier.action" value="GET"> GET
		<input type="radio" name="action_type" ng-model="supplier.action" value="POST"> POST
		<input type="radio" name="action_type" ng-model="supplier.action" value="PUT"> PUT
		<input type="radio" name="action_type" ng-model="supplier.action" value="DELETE"> DELETE
	</div>
	<div>
		<p>Endpoint</p>
		<span>https://json-supplier.herokuapp.com/</span>
		<form-field record="supplier" field="url" datatype="text"></form-field>
	</div>
	<div>
		<p>Response Code</p>
		<!-- <form-field record="supplier" field="code" datatype="number"></form-field> -->
	</div>	
	<div>
		<p>Headers</p>
		<!-- <form-field record="supplier" field="headers" datatype="textarea"></form-field> -->
	</div>	
	<div>
		<p>JSON Data</p>
		<!-- <form-field record="supplier" field="data" datatype="textarea"></form-field> -->
	</div>
	<div>
		<input type="submit" ng-click="save(supplier)" value="Save">
	</div>	
</form>
